header{
    height: 60px;
    border-bottom: 1px solid #dddddd;

    nav{
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        .logo{
            a{
                font-size: 1.4em;
                font-weight: 600;
                color: #262626;
            }
        }

        .menu{
            display: flex;
            flex-direction: row;
            gap: 15px;
            a{
                color: #262626;
                font-weight: 500;
            }
        }
    }
}